node_modules
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
env/
venv/

# Environment variables
.env
.env.*

# Database
*.db
*.sqlite3

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/

data/

en_US-ryan-high.onnx
en_US-ryan-high.onnx.json
package-lock.json
chroma_db/
Screenshot 2026-03-21 103932.png
Screenshot 2026-03-21 135408.png
Screenshot 2026-03-21 135450.png
Screenshot 2026-03-21 135738.png
